
{{#each assignments as |assignment|}}
<div class="handlebars"> <br>
<ul class="list-group">
  <div class="titlecard"> <li class="list-group-item">To Do:</li> </div>
  <li class="list-group-item">Title: {{assignment.title}}</li>
  <li class="list-group-item">Description: {{assignment.description}}</li>
  <li class="list-group-item">Status: {{assignment.status}}</li>
  <li class="list-group-item">
    <button type="button" data-id="{{assignment.id}}" class="updateButton btn btn-primary">Update Item</button>
    <button type="button" data-id="{{assignment.id}}" class="deleteButton btn btn-primary">Delete Item</button>
    <button type="button" data-id="{{assignment.id}}" class="confettiButton btn btn-primary">COMPLETED!</button>
</div>
  </li>
</ul>


<!--  Update Modal Starts Here -->
      <div class="modal fade updateModal" data-id="modal{{assignment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title itemUpdateTitle">Update Assignment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="update-form" data-id="{{assignment.id}}">
                 <div class="form-group">
                  <label for="formGroupExampleInput">Title</label>
                  <input name = "assignment[title]" value="{{assignment.title}}" type="text" data-id="{{assignment.id}}" class="form-control">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Description</label>
                  <input  name ="assignment[description]" class="form-control" type="text" data-id="{{assignment.id}}" value="{{assignment.description}}"></input>
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput3">Status</label>
                  <input  name ="assignment[status]" class="form-control" type="text" data-id="{{assignment.id}}" value="Pending"></input>
                </div>
                <div class="modal-footer">
                  <button type="submit" data-id="{{assignment.id}}"  class="updateSubmitButton btn btn-primary">Update</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <br>


{{/each}}
</div>
